footer {
	margin: 40px 0;
	text-align: center;
	@extend .hf-text;
	nav ul {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		margin: 0 0 20px 0;
		list-style: none;
		justify-content: center;
		li a {
			padding: 0 0.5rem;
			@extend .hf-text;
		}
	}
}
