header {
	#main-menu {
		// basic styles nav
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		@extend .hf-border;
		a[href^="http"] {
			background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);
			border-radius: 6px;
			padding: .5em;
			margin: .5em;
		}
	}
	.main-menu-hamburger {
		// hamburger design closed
		position: absolute;
		top: 0;
		right: 0;
		height: 70px;
		width: 70px;
		a {
			position: absolute;
			left: 18px;
			top: 22px;
			cursor: pointer;
			padding: 10px 35px 16px 0px;
			span,
			span:before,
			span:after {
				height: 5px;
				width: 35px;
				border-radius: 1px;
				background: #fff;
				position: absolute;
				display: block;
				content: "";
				transition: all 300ms ease-in-out;
			}
			span:before {
				top: -10px;
			}
			span:after {
				bottom: -10px;
			}
		}
	}
	.menu-list {
		a {
			display: block;
			text-transform: uppercase;
			padding: 1em;
			@extend .hf-text;
		}
		a:not(:only-child):after {
			// dropdown indicator
			content: "▾";
			padding-left: 10px;
		}
		ul {
			a {
				// dropdowns
				background-color: #fff;
				color: #000 !important;
				border: 1px solid rgba(182, 182, 182, 0.5);
				border-top: none;
			}
			a:hover {
				background-color: #f0f0f0;
			}
		}
	}
	h2 {
		text-align: center;
		font-size: 3.5em;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 10px;
		padding: 70px 0 0 0;
		margin: 0;
		@extend .hf-text;
	}
	hr {
		color: transparent;
		background: #fff;
		max-width: 230px;
		margin: 10px auto;
	}
	h3 {
		text-align: center;
		font-size: 1em;
		font-weight: 400;
		letter-spacing: 5px;
		padding: 0 20px 30px 20px;
		margin: 0 0 40px 0;
		@extend .hf-text;
	}
	@media screen and (min-width: 860px) {
		// desktop view
		#main-menu .menu-list {
			margin: 0 auto;
			width: -moz-fit-content;
			width: -webkit-fit-content;
			width: fit-content;
			height: 53px;
			> li {
				float: left;
				position: relative;
				z-index: 1000;
			}
		}
		#main-menu li .sub-menu {
			// dropdowns
			position: absolute;
			width: 220px;
			left: 50%;
			margin-left: -110px;
			opacity: 0;
			visibility: hidden;
		}
		#main-menu li:hover > .sub-menu {
			// dropdown visible on hover
			opacity: 1;
			visibility: visible;
		}
		.main-menu-hamburger {
			display: none;
		}
	}
	@media screen and (max-width: 859px) {
		// mobile view
		h2 {
			font-size: 2.5em;
			font-weight: 700;
			letter-spacing: 10px;
			padding: 70px 0 0 0;
		}
		h3 {
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 2px;
			padding: 0 20px 30px 20px;
		}
		#main-menu .menu-list {
			display: none;
			li a {
				// padding dropdowns
				padding: 1.5em;
			}
			li li a {
				padding: 1.5em 1.5em 1.5em 2.5em;
			}
			li li li a {
				padding: 1.5em 1.5em 1.5em 3.5em;
			}
			li li li li a {
				padding: 1.5em 1.5em 1.5em 4.5em;
			}
			ul.sub-menu {
				// visibility sub-menus
				display: none;
			}
			ul.sub-menu.visible {
				display: block;
			}
		}
		#main-menu.visible {
			.menu-list {
				display: block;
			}
			.main-menu-hamburger a {
				// hamburger x-view
				span {
					background-color: transparent;
				}
				span:before,
				span:after {
					top: 0;
				}
				span:before {
					transform: rotate(45deg);
				}
				span:after {
					transform: rotate(-45deg);
				}
			}
		}
	}
}
