@charset "UTF-8";

$hf-blue: #01003a;
$hf-white: #fff;
.hf-font {
	font-family: "Lato", sans-serif;
	font-style: normal;
	text-decoration: none;
}
.hf-text {
	color: $hf-white !important;
	@extend .hf-font;
}
.hf-border {
	border: 1px solid rgba(182, 182, 182, 0.25);
	border-top: none;
	border-left: none;
	border-right: none;
}

@import "./hf-body.scss";
@import "./hf-header.scss";
@import "./hf-main.scss";
@import "./hf-footer.scss";

@media print {
	/* All print styles go here */
	header,
	footer,
	nav {
		display: none !important;
	}
	img {
		max-height: 40vh !important;
		width: auto !important;
	}
}
